@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap'); 
:root {
  --primary-color: hsl(0, 0%, 0%);
  --secondary-color: #ADA8A8;
  --accent1-color: #C9C36A;
  --accent2-color: #C9C36A;

  --heading-font: 'Sofia', serif;
  --paragraph-font: 'Sofia', serif;

  --nav-background-color: #C9C36A;
  --nav-link-color: #091820;
  --nav-hover-link-color: #FDFCFB;
  --nav-hover-background-color: #FDFCFB;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  background: #C9C36A;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);

}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.5rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {

    color: var(#3d04c4);
  }
  
  nav a:hover {
    color: var(#4b3f3f);
    background-color: var(#555);
  }
  p {
    padding: 0px;
  }
  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }