@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao7CFPrEHJA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

main {  max-width: 840px;
}
body {
  background-color: #f7f7f7;
  color: rgb(25, 25, 26);
}
aside {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
    padding: 1em;
    background-color: #cfc8c8;
    color: #242121;
    text-align: center;
  }

  aside img {
    width: 200px;
    height: auto;
  }
  main img {
    width: 150px;
    height: auto;}
     p {padding: 0;}

     footer {
        margin-top: 1em;
        border-top: 1px solid #000;
        text-align: center;
      }
      